@import "digitaledgeit-breakpoints";

.grid {
	font-size: 0;
}

.grid__unit {
	box-sizing: border-box;
	display: inline-block;
	width: 100%;
}

@each $breakpoint, $px in $named_breakpoints {
	@include named_breakpoint($breakpoint) {

		.#{$breakpoint}-half {
			width: 50%;
		}

		.#{$breakpoint}-third {
			width: 33.33%;
		}

		.#{$breakpoint}-quarter {
			width: 25%;
		}

		.#{$breakpoint}-fith {
			width: 20%;
		}

	}
}
